.footer {
    height: auto;
    background-color: $color-body-dark;
    padding: 50px 5%;
    color: $color-text-light;

    &-left,
    &-right {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    &-left {
        margin-bottom: 80px;
    }

    &__logo {
        margin-bottom: 30px;

        svg {
            .website-logo-font {
                fill: $color-text-light;
            }
        }
    }

    &__social {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
        margin-bottom: 45px;

        .social-icon {
            & > svg {
                & > path {
                    fill: $color-text-light;
                    transition: fill $animation-speed ease-out;
                }
            }

            &--facebook {
                &:hover {
                    & > svg {
                        & > path {
                            fill: url(#gradient-facebook);
                        }
                    }
                }
            }

            &--youtube {
                &:hover {
                    & > svg {
                        & > path {
                            fill: url(#gradient-youtube);
                        }
                    }
                }
            }

            &--twitter {
                &:hover {
                    & > svg {
                        & > path {
                            fill: url(#gradient-twitter);
                        }
                    }
                }
            }

            &--pinterest {
                &:hover {
                    & > svg {
                        & > path {
                            fill: url(#gradient-pinterest);
                        }
                    }
                }
            }

            &--instagram {
                &:hover {
                    & > svg {
                        & > path {
                            fill: url(#gradient-instagram);
                        }
                    }
                }
            }
        }
    }

    &-nav {
        &__container {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 18px;
            padding: 0;
        }

        &__link {
            color: $color-text-light;

            &:hover {
                color: $color-text-light;
                opacity: .4;
            }
        }
    }

    &__invite {
        margin-bottom: 30px;

        .invite-link {
            .link {
                &__text {
                    text-transform: uppercase;
                    color: $color-text-light;
                    font-weight: $font-weight-bold;
                }

                &__icon {
                    margin-left: 20px;

                    & > svg {
                        margin-bottom: 5px;
                        transform: translateX(0);
                        transition: transform $animation-speed;

                        & > g {
                            stroke: $color-text-light;
                        }
                    }
                }
            }

            &:hover {
                .link__icon {
                    & > svg {
                        transform: translateX(8px);
                    }
                }
            }
        }
    }

    &__copyright {
        opacity: .6;
    }
}

@include media-breakpoint-up(md) {
    .footer {
        padding: 65px 5%;

        &-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &-left {
            align-items: flex-start;
            margin: 0;
        }

        &-right {
            align-items: flex-end;
            justify-content: space-between;
        }

        &__logo {
            order: 0;
        }

        &__social {
            order: 2;
            margin-top: 45px;
            margin-bottom: 0;
        }

        &__navigation {
            order: 1;
        }

        &-nav {
            &__container {
                flex-flow: row nowrap;
                align-items: center;
                gap: 18px;
                padding: 0;
            }
        }

        &__copyright {
            p {
                margin-bottom: 0;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .footer {
        padding: 90px 8%;

        &-left {
            justify-content: space-between;
            height: 144px;
        }

        &__navigation {
            position: absolute;
            left: 250px;
        }

        &-nav {
            &__container {
                flex-flow: column;
                align-items: flex-start;
                margin: 0;
            }
        }
    }
}
