// body colors
$color-body: #fff;
$color-body-dark: #000;

// text colors
$color-text: $color-body-dark;
$color-text-light: $color-body;

$color-primary: rgba(39, 24, 126, 1);
$color-secondary: rgba(255, 134, 0, 1);

// color variations
$color-gray-400: #979797;
$color-gray-100: #DFDFDF;
