$font-body: 'DM Sans', sans-serif;
$font-code: 'monospace';

$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 25px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-normal: 20px;
$font-size-small: 16px;
$font-size-smaller: 14px;

$font-size-h1-mobile: 40px;
$font-size-h2-mobile: 24px;
$font-size-h3-mobile: 18px;
$font-size-h4-mobile: 12px;
$font-size-h5-mobile: 10px;
$font-size-normal-mobile: 15px;
$font-size-small-mobile: 12px;
$font-size-smaller-mobile: 10px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
