// body colors
$color-white: #fff;
$color-black: #000;

// theme colors
$color-primary: #27187e;
$color-secondary: #ff8600;

$color-body: $color-white;
$color-body-dark: $color-black;

$color-text: $color-black;
$color-text-light: $color-white;

// color variations
$color-gray-400: #979797;
$color-gray-100: #DFDFDF;
$color-gray-50: #F5F5F5;
